# Mac stuff:
.DS_Store

# Environment variables
.env

# trunk output folder
dist

# Rust compile target directories:
target
target_ra
target_wasm

# https://github.com/lycheeverse/lychee
.lycheecache

Cargo.lock
storage/
storage*/
storage-backup*/
video.db
video.db_
migrations/

# Node.js dependencies
node_modules/
package-lock.json

# Generated CSS
static/css/tailwind.css
