---
// import { IconUsers } from "../icons/IconUsers.jsx";
// import { IconHeart } from "../icons/IconHeart.jsx";
// import { IconBriefcase } from "../icons/IconBriefcase.jsx";
// import { IconSearch } from "../icons/IconSearch.jsx";
// import { IconMap } from "../icons/IconMap.jsx";
// import SurveyForm from "../utils/SurveyForm.astro";
// import CTAForm from "../utils/CTAForm.astro";
import LikeButton from "../preact/LikeButtonRemote";

// const {element, alt, index } = Astro.props;
const { element } = Astro.props;

const session = null;

//..alt change left/right (pic and text order)
//..index required if alt
---

<!-- HELLO LIKE BUTTON -->
<div class="flex justify-center">
    <div id={element.props.id} class="shadow p-10">
        <LikeButton
            greeting="Like & Celebrate!"
            url={Astro.request.url}
            userid={session ? session.user.userId : ""}
            client:visible
        />
    </div>
</div>
