---
import SurveyForm from "../utils/SurveyForm.astro";
import CTAForm from "../utils/CTAForm.astro";

const { element, id, dataid, data } = Astro.props;
---

<!-- Survey / CTA Form -->
<div class="flex justify-center">
  <div id={element.id ?? element.props?.id} class="card-ventures p-8 md:p-10 my-24 max-w-2xl w-full">
    {(element.pages ?? element.props?.pages)?.length > 1 ?
      <SurveyForm id={element.id ?? element.props?.id} element={element}/>
    :
      <CTAForm id={element.id ?? element.props?.id} element={element}/>
    }
  </div>
</div>
