---
// Scroll-driven progress bar at top of page
---

<div class="progress fixed top-16 left-0"></div>


<script>
import { animate, scroll } from "motion";
scroll(animate(".progress", { scaleX: [0, 1] }));
</script>

<style>
.progress {
    z-index: 40;
    height: 3px;
    width: 100%;
    transform-origin: left;
    background: var(--color-primary, #0037ff);
  }
</style>
